/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


/*estas clases permiten centrar un div en resoluciones de dispositivos moviles */
@media only screen and (max-width: 767px) {
  .mobile-centered, .mobile-centered { 
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}


input[type="submit"]{
  margin:0 auto;
}
fieldset{
  padding-bottom:10px;
  margin-left:10px;
  margin-right:10px;
}
textarea{
  resize:vertical;
}
select{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 5px 0 4px 0 ;
}
form.custom div.custom.dropdown { 
  min-width: 100%; 
}           
form.custom div.custom.dropdown ul{
  min-width: 100%;
}
#listaItems>li{
  list-style:none;
}

/* Zona Login */
#login fieldset{
  margin:0;
}
#login legend{
  background-color: rgba(0,0,0,0);
}
#login input[type="submit"]{
  margin:8px auto;
}
#datosUsuario{
  margin:7px;
}
    
/* Zona central */
#Main{
  margin-bottom:20px;
}

/************ Formularios *****************/

/* los botones de los formularios */
button.button, input[type="button"].button, input[type="submit"].button{
  width: 100%;
}
span.opcional{
  color: #C60F13;
}


/* ubicacion del icono del imput para buscar */
.buscador{
  position: relative;
}
.buscador i{
  position: absolute; right: 0; top:0; margin:5px; font-size: 20px; color: #F2F2F2;
}

/*************** Footer ******************/
footer{
  border-top: 3px solid #2BA6CB;
}

/*************** Otros ******************/
.button-group li a { margin-right: 5px; }



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


